@import url('./variables.css');

body {
    font-family: var(--font-family-sans);
    margin: var(--space-m);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--color-link);
    margin: var(--space-m);
}

a:hover {
    text-decoration: underline;
}

.link img {
    margin-left: var(--space-s);
}

p {
    line-height: 1.3;
    color: var(--color-text-dark);
    max-width: 50vw;
    text-align: center;
}

h1 {
    font-size: var(--font-size-xl);
    font-weight: 500;
}

footer {
    font-size: var(--font-size-s);
    color: var(--color-caption);
    padding: var(--space-l);
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-dark);
    margin: var(--space-m);
}

.nav a {
    margin-right: var(--space-m);
}

.nav a:hover {
    color: var(--color-link-hover);
    cursor: pointer;
}

.caption {
    font-size: var(--font-size-s);
    margin: var(--space-m);
    color: var(--color-caption);
    text-align: left;
}