:root {
    /* Colors */
    --color-text-light: #ffffff;
    --color-text-dark: #000000;
    --color-caption: #d3d3d3;
    --color-link: #8f8f8f;
    --color-link-hover: #000000;

    /* Font Sizes */
    --font-size-s: 0.875rem;
    --font-size-m: 1.3rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2.5rem;

    /* Spaces and Margins */
    --space-s: 0.5rem;
    --space-m: 1rem;
    --space-l: 1.5rem;

    /* Font Family */
    --font-family-sans: Helvetica, sans-serif;
    --font-family-mono: "IBM Plex Mono", monospace;
}
